<footer class="footer">
	<div class="container py-3">
		<div class="row justify-content-center">
			<p class="text-center footer-copyright mb-0">
				&copy; <span id="footerYear"></span> Aggie SAMA. All rights reserved
			</p>
		</div>
	</div>
</footer>

<script>
	let d = new Date();
	$('#footerYear').text(d.getFullYear());
</script>
