<div id="divNav" class="navbar-fixed-top page-banner">
	<nav class="navbar navbar-expand-lg navbar-light sticky" id="navbar">
		<div id="navLeft" class="navbar-collapse collapse w-100 order-1 order-lg-0 dual-collapse2">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" id="navlink" href="#" target="_blank">Events</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" id="navlink" href="/officers">Officers</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" id="navlink" href="/calendar">Calender</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" id="navlink" href="/newsletter">Newsletter</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" id="navlink" href="/contact-us">Contact</a>
				</li>

			</ul>
		</div>
		<div class="mx-lg-auto order-0 order-lg-1 text-lg-center"
			style="width: 100%;">
			<a id="mainLogo" class="navbar-brand mx-auto" href="/">Aggie-SAMA</a>
			<button class="navbar-toggler ml-auto float-right" type="button" data-toggle="collapse" data-target=".dual-collapse2"
				style="margin-top: 11px;">
				<aria-label="Expand Navigation Options">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div id="navRight" class="navbar-collapse collapse w-100 order-3 dual-collapse2">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item d-flex justify-content-between align-items-center active">
					<a class="nav-link d-inline-block" id="navlink" href="/login-page">Member Login</a>
					<div class="socials d-inline-block">
                        <a class="nav-link d-inline-block" href="#" style="width:30%;">
                            <span><img src="images/image 13.png" class="img-fluid"  alt="Discord"></span></a>
                        <a class="nav-link d-inline-block" href="#" style="width:30%;">
                            <span><img src="images/image 14.png" class="img-fluid"  alt="Instagram"></span></a>
                        <a class="nav-link d-inline-block" href="#" style="width:30%;">
                            <span><img src="images/image 11.png" class="img-fluid" alt="Facebook"></span></a>
					</div>
				</li>
				<!-- <li class="nav-item">
					<a class="nav-link d-inline-block" id="navlink" href="/login-page">Member Login</a>
				</li> -->

			</ul>
		</div>
	</nav>
</div>
