<form action="/portal/newsletter/create" method="POST" class="p-3 m-3 form-card"
    style="background-color: #e9ecef" enctype="multipart/form-data">

    <div class="form-row text-center">
        <div class="form-group mx-auto p-1">

            <div class="form-group">
                <label for="newsletterName" class="text-left d-block">Title</label>
                <input
                    type="text"
                    class="form-control default"
                    id="newsletterName"
                    name="newsletterName"
                    placeholder="1993's Best Weeb Cosplay"
                    required
                />
            </div>

            <div class="form-group">
                <label for="exampleFormControlFile1">Upload a PDF Newsletter</label>
                <input type="file" class="form-control-file" id="newsletter" name="newsletter" style="background: none; border: none;"
                accept="application/pdf" required>
              </div>
        </div>
    </div>

    <button class="btn btn-primary portal-button" type="submit">Upload Newsletter</button>
</form>