<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

	<body>
		<%- include('partials/nav') %>

		<div id="content" class="container">
			<div class="d-flex flex-row my-4 py-5">
				<div class="col-sm-12 text-center">
					<h2 class="">404 - TEMPLATE</h2>
				</div>
			</div>

		</div>

		<script src="/scripts/404.js"></script>
		<%- include('partials/footer') %>
	</body>

</html>

