<!DOCTYPE html>
<html lang="en">
	<%- include('partials/header') %>

	<body>
		<%- include('partials/nav') %>

		<div class="container mb-5" style="margin-top: 8rem;">
			<h1 class="mb-5">Calendar of Events</h1>
			<div id="calendar"></div>
		</div>

		<script src="/scripts/calendar.js"></script>
		<%- include('partials/footer') %>
	</body>
</html>
