<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<link rel="stylesheet" href="/styles/contact-us.css" />

<!-- <%- include('partials/nav') %> -->

	<body>
		<div id="content" class="container">
      <div id="title" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">                        
          <h2 class="form-title">Anything you want to tell us?</h2>
        </div>
      </div>

      <div id="form-container" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <form id="contact-form" name="myForm" class="form" action="/contact-form-submission" onsubmit="return validateForm()" method="POST" role="form">
            <div class="form-group">
              <label class="form-label" id="nameLabel" for="name"></label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Name" tabindex="1">
            </div>

            <div class="form-group">
              <label class="form-label" id="emailLabel" for="email"></label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Email" tabindex="2">
            </div>

            <div class="form-group">
              <label class="form-label" id="subjectLabel" for="sublect"></label>
              <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" tabindex="3">
            </div>

            <div class="form-group">
              <label class="form-label" id="messageLabel" for="message"></label>
              <textarea rows="3" cols="60" name="message" class="form-control" id="message" placeholder="Message" tabindex="4"></textarea>                                 
            </div>

            <div class="text-center">
              <button type="submit" class="btn">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>

		<script src="/scripts/contact-us.js"></script>
		<%- include('partials/footer') %>
	</body>
</html>