<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

	<body>
		<!-- <%- include('partials/nav') %> -->

		<div class="jumbotron" style="background:transparent !important">
			<div id="content" class="container">
				<div class="col-sm-6">
					<h1 class="display-4">Aggie Society for Anime and Manga Art</h1>
					<p class="lead">Aggie-SAMA is a society for the study, appreciation, and production of Japanese Anime and Manga. 
						We study existing works in the field with the intent of sharing & widening our perspective of the style. We 
						also encourage artists, writers, and others creators involved in the development of this art form to pursue 
						improvement of their art form. </p>
					<p class="lead">
					<a class="btn btn-primary custom-btn btn-lg" href="#" role="button">Meetings Calendar</a>
					</p>
				</div>
			</div>
		</div>

		<script src="/scripts/index.js"></script>
		<!-- <%- include('partials/footer') %> -->
	</body>

</html>
