<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

	<body>
		<%- include('partials/nav') %>

		<div id="content" class="container">
			<div class="d-flex flex-row my-4 py-5">
				<div class="col-sm-12 text-center">
					<h2 class="">BLANK PAGE</h2>
				</div>
			</div>

			<div class="col-sm-12">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis sem et justo convallis
					fringilla. Phasellus tincidunt, ante a consequat ultricies, purus magna tempor nisl, eu luctus
					sapien turpis non orci. Ut ipsum sem, iaculis sit amet auctor nec, pellentesque a tellus. In hac
					habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur
					semper blandit ligula, id aliquet ex gravida in. Ut et orci ac nibh lacinia facilisis. Morbi
					tincidunt at nisl id iaculis. Sed scelerisque blandit scelerisque. Nam id est ac massa dignissim
					pulvinar sed vitae arcu. Vivamus congue velit vel pretium pretium.
					Quisque molestie mi id urna lacinia, vestibulum pellentesque nisi tincidunt. Aliquam mattis et ex
					eget suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
					curae; Aliquam dapibus quam metus, ac pretium nunc elementum et. Donec gravida scelerisque
					ultricies. Vivamus aliquet facilisis arcu, et fermentum eros. Aenean mollis, nulla nec sollicitudin
					tempor, neque augue tincidunt sapien, a tempor lectus massa quis mauris. Aliquam sed dolor maximus
					leo ultricies pharetra.
					Morbi rhoncus dolor leo, ut fermentum velit vestibulum in. Vivamus malesuada, eros vel bibendum
					mattis, nisl quam dapibus mi, et pellentesque erat ipsum quis urna. Maecenas ut mi nec lectus
					viverra porttitor. In viverra luctus est vitae consequat. Donec et ligula ipsum. Nulla vel
					scelerisque massa, quis cursus velit. Aliquam consequat ex ut dolor sodales, ac malesuada augue
					vestibulum. Proin consectetur malesuada lobortis.
					Suspendisse rutrum nibh eget felis fringilla aliquet. Nunc dignissim, lacus vitae sollicitudin
					consequat, eros neque laoreet orci, at luctus lorem augue sed nunc. Ut semper cursus metus. Aliquam
					nunc nulla, sollicitudin sed nulla et, accumsan suscipit leo. Cras non ultrices purus, sed luctus
					diam. Etiam vehicula ex est, et ornare dui fringilla a. Integer orci sem, posuere ac mauris sit
					amet, pulvinar sagittis tortor. Fusce a maximus mi. Curabitur faucibus risus et venenatis viverra.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis sem et justo convallis
					fringilla. Phasellus tincidunt, ante a consequat ultricies, purus magna tempor nisl, eu luctus
					sapien turpis non orci. Ut ipsum sem, iaculis sit amet auctor nec, pellentesque a tellus. In hac
					habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur
					semper blandit ligula, id aliquet ex gravida in. Ut et orci ac nibh lacinia facilisis. Morbi
					tincidunt at nisl id iaculis. Sed scelerisque blandit scelerisque. Nam id est ac massa dignissim
					pulvinar sed vitae arcu. Vivamus congue velit vel pretium pretium.
					Quisque molestie mi id urna lacinia, vestibulum pellentesque nisi tincidunt. Aliquam mattis et ex
					eget suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
					curae; Aliquam dapibus quam metus, ac pretium nunc elementum et. Donec gravida scelerisque
					ultricies. Vivamus aliquet facilisis arcu, et fermentum eros. Aenean mollis, nulla nec sollicitudin
					tempor, neque augue tincidunt sapien, a tempor lectus massa quis mauris. Aliquam sed dolor maximus
					leo ultricies pharetra.
					Morbi rhoncus dolor leo, ut fermentum velit vestibulum in. Vivamus malesuada, eros vel bibendum
					mattis, nisl quam dapibus mi, et pellentesque erat ipsum quis urna. Maecenas ut mi nec lectus
					viverra porttitor. In viverra luctus est vitae consequat. Donec et ligula ipsum. Nulla vel
					scelerisque massa, quis cursus velit. Aliquam consequat ex ut dolor sodales, ac malesuada augue
					vestibulum. Proin consectetur malesuada lobortis.
					Suspendisse rutrum nibh eget felis fringilla aliquet. Nunc dignissim, lacus vitae sollicitudin
					consequat, eros neque laoreet orci, at luctus lorem augue sed nunc. Ut semper cursus metus. Aliquam
					nunc nulla, sollicitudin sed nulla et, accumsan suscipit leo. Cras non ultrices purus, sed luctus
					diam. Etiam vehicula ex est, et ornare dui fringilla a. Integer orci sem, posuere ac mauris sit
					amet, pulvinar sagittis tortor. Fusce a maximus mi. Curabitur faucibus risus et venenatis viverra.
					Sed vel dolor vitae nibh fermentum euismod. Vivamus in augue eu ipsum tristique congue eget at elit.
					In eu lacinia massa. Praesent ac venenatis ligula. Aenean ut arcu ipsum. Vestibulum eget turpis
					libero. Nullam tincidunt orci ut accumsan vestibulum.
				</p>
			</div>
		</div>

		<script src="/scripts/index.js"></script>
		<%- include('partials/footer') %>
	</body>

</html>
