<!DOCTYPE html>
<html lang="en">
	<%- include('partials/header') %>
	<!-- <%- include('partials/nav') %> -->
    <!-- <head>
        <div class="container-fluid">
            <div class="row">
                <div class="SAMA-header">
                    <p>Aggie-SAMA</p>
                </div>
            </div>
        </div>
    </head> -->
	<body>
        <div class="page-header">
            <h1>Meetings and Events</h1>
        </div>
		<div class="meetings-officer-background1">
			<div class="row">
				<div class="meetings-officer-style-top1 container">
					<h3>Weekly Meetings</h3>
				</div>
                <div class="meetings-officer-style-top2  container">
					<h6>Our weekly slate of meetings and events - come and check them out!</h6>
				</div>
			</div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="chatbox text-center">
                            <div class="container">
                                <form>
                                    <div class="form-group">
                                        <!-- <label for="exampleFormControlInput1">Meeting Name</label> -->
                                        <input class="form-control" id="exampleFormControlInput1" placeholder="Meeting Name">
                                    </div>
                                    <div class="form-group">
                                        <!-- <label for="exampleFormControlTextarea1">Meeting Information</label> -->
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <!-- <label for="exampleFormControlInput1">Meeting Time</label> -->
                                        <input class="form-control" id="exampleFormControlInput1" placeholder="Meeting Time">
                                    </div>
                                    <div class="form-group">
                                        <!-- <label for="exampleFormControlInput1">Meeting Location</label> -->
                                        <input class="form-control" id="exampleFormControlInput1" placeholder="Meeting Location">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="chatbox text-center">
                            <div class="container">
                                <form>
                                    <div class="form-group">
                                    <!-- <label for="exampleFormControlInput1">Meeting Name</label> -->
                                    <input class="form-control" id="exampleFormControlInput1" placeholder="Meeting Name">
                                    </div>
                                    <div class="form-group">
                                    <!-- <label for="exampleFormControlTextarea1">Meeting Information</label> -->
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <!-- <label for="exampleFormControlInput1">Meeting Time</label> -->
                                        <input class="form-control" id="exampleFormControlInput1" placeholder="Meeting Time">
                                    </div>
                                    <div class="form-group">
                                        <!-- <label for="exampleFormControlInput1">Meeting Location</label> -->
                                        <input class="form-control" id="exampleFormControlInput1" placeholder="Meeting Location">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="chatbox text-center">
                            <div class="container">
                                <form>
                                    <div class="form-group">
                                    <!-- <label for="exampleFormControlInput1">Meeting Name</label> -->
                                    <input class="form-control" id="exampleFormControlInput1" placeholder="Meeting Name">
                                    </div>
                                    <div class="form-group">
                                    <!-- <label for="exampleFormControlTextarea1">Meeting Information</label> -->
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <!-- <label for="exampleFormControlInput1">Meeting Time</label> -->
                                        <input class="form-control" id="exampleFormControlInput1" placeholder="Meeting Time">
                                    </div>
                                    <div class="form-group">
                                        <!-- <label for="exampleFormControlInput1">Meeting Location</label> -->
                                        <input class="form-control" id="exampleFormControlInput1" placeholder="Meeting Location">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
			    </div>
            </div>
		</div>
		<div class="meetings-officer-background2">
            <div class="container-fluid">
                <div class="row">
                    <div class=""></div>
                    <h1>Past Events & Socials</h1>
			    </div>
                <div class="row">
                    <div class="col-md-6">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>
                    <div class="col-md-6 ml-auto">
                        <input class="form-control" id="exampleFormControlInput1" placeholder="Event Name">
                        <ul>
                            <li><input class="form-control" id="exampleFormControlInput1" placeholder="Event 1"></li>
                            <li><input class="form-control" id="exampleFormControlInput1" placeholder="Event 2"></li>
                            <li><input class="form-control" id="exampleFormControlInput1" placeholder="Event 3"></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input class="form-control" id="exampleFormControlInput1" placeholder="Enter link">
                    </div>
                    <div class="col-md-6 ml-auto">
                        <input class="form-control" id="exampleFormControlInput1" placeholder="Event Name">
                        <ul>
                            <li><input class="form-control" id="exampleFormControlInput1" placeholder="Event 1"></li>
                            <li><input class="form-control" id="exampleFormControlInput1" placeholder="Event 2"></li>
                            <li><input class="form-control" id="exampleFormControlInput1" placeholder="Event 3"></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ml-auto">
                        <input class="form-control" id="exampleFormControlInput1" placeholder="Event Name">
                        <ul>
                            <li><input class="form-control" id="exampleFormControlInput1" placeholder="Event 1"></li>
                            <li><input class="form-control" id="exampleFormControlInput1" placeholder="Event 2"></li>
                            <li><input class="form-control" id="exampleFormControlInput1" placeholder="Event 3"></li>
                        </ul>
                    </div>
                </div>
            </div>
		</div>
	<!-- <%- include('partials/footer') %> -->
	</body>
    <footer>
        <div class="footer-background">
            <div class="page-footer">
                <p>© 2020 Aggie SAMA. All rights reserved</p>
            </div>
        </div>
    </footer>
</html>
