<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<link rel="stylesheet" href="/styles/officers.css" />
	<body>
		<%- include('partials/nav') %>
        <div id="content" class="container">
            <div class="d-flex flex-row py-3">
                <div class="col-sm-12 gray-text">
                    <h1 class="division-title">Officer Team</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid officers">
            <!-- for president -->
            <div class="d-flex">
                <div class="row">
                    <div class="bg-warning col-lg-4">
                        <!-- Photo -->
                        <div class="circle presi-photo">
                            <img src="https://pbs.twimg.com/media/C_H05o7UIAADguQ.jpg" width="212" height="212">
                        </div>
                    </div>
                    <div class="bg-dark col-lg-8">
                        <!-- Introduction -->
                        <div class="officer-title">President</div>
                        <div class="officer-name">Timothy Nguyen</div>
                        <div class="officer-intro">
                            Howdy!<br>
                            <br>
                            My name is Tim and I'm a Computer Science Major. I've spent wayyy too much money on merch and I regret (almost) nothing.<br>
                            <br>
                            Hope to see you all at one of the meetings or socials.
                        </div>                        
                    </div>
                </div>
            </div>

            <!-- for other officers -->
            <div class="d-flex">
                <div class="row">
                    <div class="col-lg-6 bg-success">
                        <!-- Photo -->
                        <div class="circle presi-photo">
                            <img src="https://pbs.twimg.com/media/C_H05o7UIAADguQ.jpg" width="212" height="212">
                        </div>
                        <!-- Introduction -->
                        <div class="officer-title">President</div>
                        <div class="officer-name">Timothy Nguyen</div>
                        <div class="officer-intro">
                            Howdy!<br>
                            <br>
                            My name is Tim and I'm a Computer Science Major. I've spent wayyy too much money on merch and I regret (almost) nothing.<br>
                            <br>
                            Hope to see you all at one of the meetings or socials.
                        </div>  
                    </div>
                    <div class="col-lg-6 bg-info">
                        <!-- Photo -->
                        <div class="circle presi-photo">
                            <img src="https://pbs.twimg.com/media/C_H05o7UIAADguQ.jpg" width="212" height="212">
                        </div>
                        <!-- Introduction -->
                        <div class="officer-title">President</div>
                        <div class="officer-name">Timothy Nguyen</div>
                        <div class="officer-intro">
                            Howdy!<br>
                            <br>
                            My name is Tim and I'm a Computer Science Major. I've spent wayyy too much money on merch and I regret (almost) nothing.<br>
                            <br>
                            Hope to see you all at one of the meetings or socials.
                        </div>  
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <div class="row">
                    <div class="col-lg-6 bg-warning">
                        <!-- Photo -->
                        <div class="circle presi-photo">
                            <img src="https://pbs.twimg.com/media/C_H05o7UIAADguQ.jpg" width="212" height="212">
                        </div>
                        <!-- Introduction -->
                        <div class="officer-title">President</div>
                        <div class="officer-name">Timothy Nguyen</div>
                        <div class="officer-intro">
                            Howdy!<br>
                            <br>
                            My name is Tim and I'm a Computer Science Major. I've spent wayyy too much money on merch and I regret (almost) nothing.<br>
                            <br>
                            Hope to see you all at one of the meetings or socials.
                        </div>  
                    </div>
                    <div class="col-lg-6 bg-dark">
                        <!-- Photo -->
                        <div class="circle presi-photo">
                            <img src="https://pbs.twimg.com/media/C_H05o7UIAADguQ.jpg" width="212" height="212">
                        </div>
                        <!-- Introduction -->
                        <div class="officer-title">President</div>
                        <div class="officer-name">Timothy Nguyen</div>
                        <div class="officer-intro">
                            Howdy!<br>
                            <br>
                            My name is Tim and I'm a Computer Science Major. I've spent wayyy too much money on merch and I regret (almost) nothing.<br>
                            <br>
                            Hope to see you all at one of the meetings or socials.
                        </div>  
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <div class="row">
                    <div class="col-lg-6 bg-success">
                        <!-- Photo -->
                        <div class="circle presi-photo">
                            <img src="https://pbs.twimg.com/media/C_H05o7UIAADguQ.jpg" width="212" height="212">
                        </div>
                        <!-- Introduction -->
                        <div class="officer-title">President</div>
                        <div class="officer-name">Timothy Nguyen</div>
                        <div class="officer-intro">
                            Howdy!<br>
                            <br>
                            My name is Tim and I'm a Computer Science Major. I've spent wayyy too much money on merch and I regret (almost) nothing.<br>
                            <br>
                            Hope to see you all at one of the meetings or socials.
                        </div>  
                    </div>
                    <div class="col-lg-6 bg-info">
                        <!-- Photo -->
                        <div class="circle presi-photo">
                            <!-- <img src="https://pbs.twimg.com/media/C_H05o7UIAADguQ.jpg" width="212" height="212"> -->
                            <img src="images/presi.jpg" width="212" height="212">
                        </div>
                        <!-- Introduction -->
                        <div class="officer-title">President</div>
                        <div class="officer-name">Timothy Nguyen</div>
                        <div class="officer-intro">
                            Howdy!<br>
                            <br>
                            My name is Tim and I'm a Computer Science Major. I've spent wayyy too much money on merch and I regret (almost) nothing.<br>
                            <br>
                            Hope to see you all at one of the meetings or socials.
                        </div>  
                    </div>
                </div>
            </div>
            
        </div>

		<script src="/scripts/template.js"></script>
		<%- include('partials/footer') %>
	</body>

</html>
