<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
    <link rel="stylesheet" href="/styles/weekly-meeting-page.css" />
    <body>
        <%- include('partials/nav') %>

            <div id="content" class="container">
                <div class="d-flex flex-row my-4 py-5">
                    <div class="col-sm-12">
                        <h1>Meetings and Events</h1>
                    </div>
                </div>
            </div>
            <div class="container-fluid weekly-meetings">
                <div class="container">
                    <h1 class="text-center">Weekly Meetings</h1>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis similique, magnam tempora vitae
                        nemo, et quibusdam, ipsum id tempore quos incidunt consectetur dolore voluptatem fugit hic unde
                        voluptates rem molestiae.
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="chatbox text-center">
                            <h1>Anime Meetings</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo et laudantium inventore
                                aliquid! Explicabo iure veritatis aliquam delectus, odio deleniti tempore, consequuntur
                                quaerat perspiciatis, nostrum vitae eligendi quam optio accusamus.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="chatbox text-center">
                            <h1>Anime Meetings</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo et laudantium inventore
                                aliquid! Explicabo iure veritatis aliquam delectus, odio deleniti tempore, consequuntur
                                quaerat perspiciatis, nostrum vitae eligendi quam optio accusamus.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="chatbox text-center">
                            <h1>Anime Meetings</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo et laudantium inventore
                                aliquid! Explicabo iure veritatis aliquam delectus, odio deleniti tempore, consequuntur
                                quaerat perspiciatis, nostrum vitae eligendi quam optio accusamus.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 text-center mb-4">
                        <h2>Wednesday</h2>
                    </div>
                    <div class="col-lg-4 text-center mb-4">
                        <h2>Wednesday</h2>
                    </div>
                    <div class="col-lg-4 text-center mb-4">
                        <h2>Wednesday</h2>
                    </div>
                </div>
            </div>

            <div class="container-fluid past-events-and-socials">
                <div class="container">
                    <h1>Past Events & Socials</h1>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="container px-5 text-center">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, quidem distinctio. Fugiat
                                ullam deleniti nobis molestiae nisi similique iste. Eos eaque dicta repellendus totam
                                deserunt minus aliquid quis! Amet, illo?
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row container-fluid justify-content-between">
                            <div class="col-2">
                                <div class="circle"></div>
                            </div>
                            <div class="col-9">
                                <h3>Convention Trips</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore saepe</p>
                            </div>
                        </div>
                        <div class="row container-fluid justify-content-between">
                            <div class="col-2">
                                <div class="circle"></div>
                            </div>
                            <div class="col-9">
                                <h3>Convention Trips</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore saepe</p>
                            </div>
                        </div>
                        <div class="row container-fluid justify-content-between">
                            <div class="col-2">
                                <div class="circle"></div>
                            </div>
                            <div class="col-9">
                                <h3>Convention Trips</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore saepe</p>
                            </div>
                        </div>
                        <div class="row container-fluid justify-content-between">
                            <div class="col-2">
                                <div class="circle"></div>
                            </div>
                            <div class="col-9">
                                <h3>Convention Trips</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore saepe</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="/scripts/template.js"></script>
            <%- include('partials/footer') %>

    </body>

</html>