<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
    <link rel="stylesheet" href="/styles/weekly-meeting-page.css" />
    <body>
        <%- include('partials/nav') %>

            <div id="content" class="container">
                <div class="d-flex flex-row my-4 py-5">
                    <div class="col-sm-12 text-center">
                        <h2 class="">BLANK</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 test-center">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum possimus odit quaerat
                            nam perferendis enim dolorem molestiae nemo fugiat, exercitationem tempore sapiente
                            praesentium quod iusto error velit obcaecati eveniet dicta.</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum possimus odit quaerat
                            nam perferendis enim dolorem molestiae nemo fugiat, exercitationem tempore sapiente
                            praesentium quod iusto error velit obcaecati eveniet dicta.</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid weekly-meetings">
                <div class="container">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis similique, magnam tempora vitae
                        nemo, et quibusdam, ipsum id tempore quos incidunt consectetur dolore voluptatem fugit hic unde
                        voluptates rem molestiae.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae alias eligendi atque
                            consectetur tempora illum mollitia nemo esse voluptates facilis, quo aliquam et quisquam,
                            nam accusamus dignissimos magni, temporibus fugiat!</p>
                    </div>
                    <div class="col-md-6">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem facilis vero iure optio
                            libero quos asperiores, illo dolorum voluptate laboriosam dolores! Illo consectetur
                            necessitatibus, ex qui quos aut ea laudantium!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="chatbox text-center">
                            <h1>Anime Meetings</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo et laudantium inventore
                                aliquid! Explicabo iure veritatis aliquam delectus, odio deleniti tempore, consequuntur
                                quaerat perspiciatis, nostrum vitae eligendi quam optio accusamus.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="chatbox text-center">
                            <h1>Anime Meetings</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo et laudantium inventore
                                aliquid! Explicabo iure veritatis aliquam delectus, odio deleniti tempore, consequuntur
                                quaerat perspiciatis, nostrum vitae eligendi quam optio accusamus.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="chatbox text-center">
                            <h1>Anime Meetings</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo et laudantium inventore
                                aliquid! Explicabo iure veritatis aliquam delectus, odio deleniti tempore, consequuntur
                                quaerat perspiciatis, nostrum vitae eligendi quam optio accusamus.</p>
                        </div>
                    </div>
                </div>
            </div>

            <script src="/scripts/template.js"></script>
            <%- include('partials/footer') %>

    </body>

</html>