<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
    <link rel="stylesheet" href="/styles/weekly-meeting-page.css" />
    <body>
        <%- include('partials/nav') %>

            <div id="content" class="container">
                <div class="d-flex flex-row py-3">
                    <div class="col-sm-12 gray-text">
                        <h1 class="division-title">Meetings and Events</h1>
                    </div>
                </div>
            </div>
            <div class="container-fluid weekly-meetings">
                <div class="container text-center">
                    <h2 class="pt-4 purple-text font-weight-bold">Weekly Meetings</h2>
                    <p>
                        Our weekly slate of meetings and events - come and check them out!
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="chatbox text-center">
                            <h5 class="mb-4">Anime Meetings</h5>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo et laudantium inventore
                                aliquid! Explicabo iure veritatis aliquam delectus, odio deleniti tempore, consequuntur
                                quaerat perspiciatis, nostrum vitae eligendi quam optio accusamus.</p>
                        </div>
                        <div class="text-center mb-5">
                            <h5 class="font-weight-bold">Wednesdays, 6-8pm</h5>
                            <h6>On our <a href="" class="purple-text"><u>Discord</u></a></h6>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="chatbox text-center">
                            <h5 class="mb-4">General Meetings</h5>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo et laudantium inventore
                                aliquid! Explicabo iure veritatis aliquam delectus, odio deleniti tempore, consequuntur
                                quaerat perspiciatis, nostrum vitae eligendi quam optio accusamus.</p>
                        </div>
                        <div class="text-center mb-5">
                            <h5 class="font-weight-bold">Wednesdays, 6-8pm</h5>
                            <h6>On our <a href="" class="purple-text"><u>Discord</u></a></h6>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="chatbox text-center">
                            <h5 class="mb-4">Art Meetings</h5>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo et laudantium inventore
                                aliquid! Explicabo iure veritatis aliquam delectus, odio deleniti tempore, consequuntur
                                quaerat perspiciatis, nostrum vitae eligendi quam optio accusamus.</p>
                        </div>
                        <div class="text-center mb-5">
                            <h5 class="font-weight-bold">Wednesdays, 6-8pm</h5>
                            <h6>On our <a href="" class="purple-text"><u>Discord</u></a></h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid past-events-and-socials">
                <div class="container py-4">
                    <h2 class="division-title">Past Events & Socials</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="container px-5 text-center">
                            <p>
                                Outside of our weekly meetings, we host a variety of social events and special trips. Check out what we've done in the past below, and let us know if you'd like to see any of these events on our schedule again!
                            </p>
                            <div class="pb-3">
                                <a href="" class="font-weight-bold purple-text">Let us know on Discord &rarr;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row container-fluid justify-content-between">
                            <div class="col-2">
                                <div class="circle"></div>
                            </div>
                            <div class="col-10">
                                <h5>Convention Trips</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore saepe</p>
                            </div>
                        </div>
                        <div class="row container-fluid justify-content-between">
                            <div class="col-2">
                                <div class="circle"></div>
                            </div>
                            <div class="col-10">
                                <h5>Convention Trips</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore saepe</p>
                            </div>
                        </div>
                        <div class="row container-fluid justify-content-between">
                            <div class="col-2">
                                <div class="circle"></div>
                            </div>
                            <div class="col-10">
                                <h5>Convention Trips</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore saepe</p>
                            </div>
                        </div>
                        <div class="row container-fluid justify-content-between">
                            <div class="col-2">
                                <div class="circle"></div>
                            </div>
                            <div class="col-10">
                                <h5>Convention Trips</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore saepe</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="/scripts/template.js"></script>
            <%- include('partials/footer') %>

    </body>

</html>