/***** Global *****/
body {
	max-width: 100%;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
	outline: 0px !important;
	box-shadow: none !important;
}

#content {
	margin-top: 5rem;
}

.hidden {
	display: none;
}

.purple {
	color: #27968c;
}

.main-blue {
	color: #54a0ff;
}

.font-500 {
	font-weight: 500;
}

.page-header {
	font-size: 6rem;
	z-index: 0;
}

.footer a {
	color: #fff;
	transition: background-color 0.4s linear;
}

.footer a:hover {
	color: #8395a7;
	transition: color 0.2s linear;
	text-decoration: none;
}

@media (max-width: 450px) {
	.page-header {
		font-size: 4rem;
	}
}
/***** /Global/ ******/
/***** Home Page *****/
#mainLogo {
	font-size: 2rem;
	font-weight: 900;
	transition: color 0.4s linear;
}

.flex-vert-center {
	display: flex;
	align-items: center;
}

.navbar-toggler {
	display: inline-block;
	height: 75%;
	margin-left: 10px;
}

.font-25 {
	font-size: 2.5rem;
}

/***** Navbar *****/
#navRight {
	padding-left: 20px;
}

#navLeft {
	padding-right: 20px;
}

#navbar {
	max-width: 100%;
	transition: background-color 0.4s linear;
	z-index: 10;
	font-size: 1rem;
	background-color: #fff;
}

#navbar.scrolled {
	background-color: #fff;
	transition: background-color 0.4s linear;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
	font-weight: bold;
	transition: color 0.4s linear;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .content {
	margin-top: 8rem;
}

@media (max-width: 992px) {
	#navRight {
		padding-left: 0;
	}
	#navLeft {
		padding-left: 0;
	}
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(52,31,151, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
	border-color: rgb(52, 31, 151);
}

/***** /Navbar/ *****/

/***** Footer *****/
.icon-row {
	font-size: 2rem;
}

@media (max-width: 762px) {
	.footer-copyright {
		font-size: 0.8rem;
	}
}

@media (max-width: 480px) {
	.icon-row {
		font-size: 1.8rem;
		padding: 0 5px;
	}
	.footer-copyright {
		font-size: 0.65rem;
	}
}

@media (max-width: 400px) {
	.icon-row {
		font-size: 1.5rem;
		padding: 0 5px;
	}
	.footer-copyright {
		font-size: 0.5rem;
	}
}

@media (max-width: 375px) {
	.icon-row {
		font-size: 1.1rem;
		padding: 0 5px;
	}
}

.footer {
	background-color: #27968c;
	color: #fff;
}
/***** /Footer/ *****/

/***** /Home Page/ *****/
.btn-primary.custom-btn {
	background-color: blueviolet;
	border-color: blueviolet;
}

.About-Us-Background {
	background: rgb(217, 179, 130);
	background: linear-gradient(
		0deg,
		rgba(217, 179, 130, 1) 0%,
		rgba(255, 255, 255, 1) 100%
	);
}

.About-Us .row .col-md-4 {
	min-height: 100%;
}

.About-Us h2 {
	/* margin: 0; */
}

.flex-column {
	padding-right: 2em;
	align-items: baseline;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 3em;
}
/***** 404 Page *****/
/***** /404 Page/ *****/

/* Contact Us */
#success-message {
	opacity: 0;
}

#content {
	margin: 10vh 0 0 10vw;
}

/* .col-xs-12.col-sm-12.col-md-12.col-lg-12 {
	padding: 0 20% 0 20%;
} */

.page-title {
	font-family: Manrope;
	font-style: bold;
	font-weight: 700;
	font-size: 46px;
	line-height: 64px;

	margin-bottom: 1.5vh;

	color: #474a57;
}

#title {
	width: 100%;
	/* border: 1px solid red; */
}

#banner-right {
	display: flex;
	flex-direction: row;
	position: relative;
	/* border: 1px solid green; */
}

#banner-left {
	display: flex;
	flex-direction: column;
	margin: 0 0 0 2vw;
	/* border: 1px solid red; */
}

.discord-banner-title {
	font-family: Manrope;
	font-style: normal;
	font-weight: 700;
	font-size: 29px;
	line-height: 39px;

	color: #18191f;

	display: flex;
	order: 0;
	align-self: center;
	/* flex-grow: 0; */
	margin: 32px 0px 18px 1vw;
	/* border: 1px solid blue; */
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.discord-banner-button {
	background: #ffffff;
	border-radius: 8px;
	border-color: white;
	border-style: solid;

	display: flex;
	order: 1;
	align-self: flex-start;
	flex-grow: 0;
	margin: 20px 0px 10px;

	height: 50px;

	width: 175px;
}

.discord-banner-button:hover {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.discord-banner-button-text {
	font-family: Manrope;
	font-style: normal;
	font-weight: 600;
	font-size: 1rem;
	line-height: 40px;

	color: #8c30f5;

	margin: auto;

	display: flex;
	justify-content: center;
}

.arrow-img {
	position: relative;
	width: 114px;
	height: 48px;
	left: 24px;
	top: 50%;
	/* margin: 0 175px 0 50px; */

	/* border: 1px solid blue; */

	content: url('/../images/Vector 1.svg');
}

.arrow-tip-img {
	position: relative;
	width: 22.15px;
	height: 10.34px;
	left: 0;
	top: 66%;

	content: url('/../images/Vector 2.svg');
}

.sama-logo {
	position: absolute;
	left: 200px;
	bottom: 0;
	width: 135.62px;
	height: 166.3px;

	z-index: 3;

	content: url('/../images/image 10.png');

	/* border: 1px solid blue; */
}

.discord-logo {
	content: url('/../images/image 9.png');

	width: 300px;
	height: 100%;

	position: relative;
	left: 151px;

	clip-path: circle(60.4% at 60% 50%);
}

.banner-background {
	background: #2ec5ce;
	border-radius: 16px;
	height: 227px;
	max-width: 846px;
	display: flex;
	flex-direction: row;
}

@media (max-width: 48rem) {
	.arrow-img {
		display: none;
	}

	.arrow-tip-img {
		display: none;
	}

	.sama-logo {
		left: 25px;
	}

	.discord-logo {
		left: 100px;
	}
}

.form-container {
	margin-top: 5vh;
	margin-bottom: 10vh;
}

.form-label {
	margin-left: -4vw;
	text-align: left;
	display: flex;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;

	letter-spacing: 0.2px;

	color: #252b42;
}

.form-control {
	background: #f9f9f9;
	border: 1px solid #e6e6e6;
	box-sizing: border-box;
	border-radius: 5px;
	width: 150%;
	margin-left: -4vw;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;

	height: 6vh;
}

.form-header-primary {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;

	letter-spacing: 0.1px;

	color: #252b42;

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 15px 0px;
}

.form-header-secondary {
	text-align: center;

	font-family: Manrope;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;

	color: #18191f;

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 10px 0 0;
}

#message {
	height: 175px;
}

.submit-button {
	width: 150%;
	margin-left: -4vw;

	background: #23a6f0;
	border-radius: 5px;
	border-style: solid;
	border-color: #23a6f0;

	margin-top: 28.5px;
}

.submit-button:hover {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.submit-button-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 28px;

	text-align: center;
	letter-spacing: 0.2px;

	color: #ffffff;

	flex: none;
	order: 0;
	flex-grow: 0;
	padding: 15px 0 0px 0;
	width: 100%;
}

/* Contact Us Backend */
.recent-background {
	background: radial-gradient(
		81.44% 573.28% at 88.61% 12.11%,
		rgba(163, 82, 255, 0.88) 0%,
		#851aff 69.27%
	);
	border-radius: 16px;
}
.read-now {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 14px 24px;

	position: static;
	width: 128px;
	height: 48px;
	left: 0px;
	top: 90px;

	/* Text / Gray 900 */

	background: #18191f;
	border-radius: 10px;
	color: #56ccf2;

	/* Inside Auto Layout */

	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 32px 0px;
}
.past-newsletters {
	background: linear-gradient(
		180deg,
		#ebfeff 71.87%,
		rgba(235, 254, 255, 0) 100%
	);
}
.newsletter-title {
	font-family: Manrope;
	font-style: normal;
	font-weight: 800;
	font-size: 46px;
	line-height: 64px;
	/* or 139% */

	font-feature-settings: 'liga' off;

	/* Text / Gray 800 */

	color: #474a57;
}

#past-newsletters-table {
	/* border-collapse: collapse; */
	width: 100%;
	background-color: #ffffff;
}
#past-newsletters-table tr:nth-child(even) {
	background-color: #f9f9f9;
}
#past-newsletters-table tr:hover {
	background-color: #ddd;
}

#past-newsletters-table th,
#past-newsletters-table td {
	padding: 12px;
	border-bottom: 1px solid rgb(210, 210, 210);
	font-style: normal;
	font-size: 14px;
}

.flex-vert-center {
	display: flex;
	align-items: center;
}

/***** Meetings Page **/
.SAMA-header {
	width: 176px;
	height: 20px;
	left: 634px;
	top: 25px;
	font-family: Istok Web;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 20px;
	font-feature-settings: 'liga' off;
	color: #000000;
	background: #ffffff;
}
.page-header {
	font-family: Manrope;
	width: 587px;
	height: 69px;
	left: 9px;
	top: 100px;
	font-style: normal;
	font-weight: 800;
	font-size: 46px;
	line-height: 64px;
	font-feature-settings: 'liga' off;
	color: #474a57;
}
.meetings-officer-style-top1 {
	font-family: Manrope;
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	font-feature-settings: 'liga' off;
	color: #8c30f5;
}
.meetings-officer-style-top2 {
	margin-left: auto;
	font-family: Manrope;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	font-feature-settings: 'liga' off;
	color: #18191f;
}
.meetings-officer-background1 {
	background: linear-gradient(194.01deg, #d9e8ef 9.6%, #eaf2f5 89.64%);
}
.meetings-officer-background2 {
	background: linear-gradient(
		180deg,
		#f1e4ff 75.52%,
		rgba(241, 228, 255, 0) 100%
	);
}
.chatbox {
	/* background: #C4C4C4; */
	border-radius: 10px;
	padding: 20px 0;
}
.chatbox-container {
	padding: 5% 10%;
}
.footer-background {
	background: #0b0d17;
}
.page-footer {
	position: relative;
	left: calc(50% - 251px / 2 - 10.5px);
	top: calc(50% - 24px / 2 - 0.22px);
	font-family: Manrope;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	font-feature-settings: 'liga' off;
	color: #d9dbe1;
}
/** End of Meetings Page **/

/** Calendar Page **/
#calendar {
	background-color: #f5f6f8;
	padding: 40px;
	font-family: Montserrat;
}

.fc .fc-button-primary {
	text-transform: capitalize;
	font-family: Montserrat;
	padding: 12.5px 10px 12.5px 10px;
	border: 1px solid blueviolet !important;
	background-color: transparent;
	color: blueviolet;
	font-weight: bold;
}

.fc-toolbar-title {
	font-weight: bold;
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:hover {
	background-color: blueviolet;
	color: white;
}

.fc-event-title {
	color: blueviolet;
}

.fc-event-main {
	background-color: blueviolet;
}

.fc-event-title-container .fc-event-title {
	color: white;
}

.portal-button {
	background-color: blueviolet;
}

@media (max-width: 790px) {
	.fc-toolbar-chunk:last-of-type {
		display: none;
	}
}

@media (max-width: 446px) {
	.fc-toolbar-chunk:first-of-type {
		display: none;
	}
}

/** End of Calendar Page **/
