.weekly-meetings {
    /* Gradient / Subtle Blue */
    background: linear-gradient(194.01deg, #D9E8EF 9.6%, #EAF2F5 89.64%);
}

body{
    color: #18191F;
}

body .purple-text {
    color: #8C30F5;
}

.gray-text {
    color: #474A57;
}