.weekly-meetings {
    /* Gradient / Subtle Blue */
    background: linear-gradient(194.01deg, #D9E8EF 9.6%, #EAF2F5 89.64%);
}

body{
    color: #18191F;
}

body .purple-text {
    color: #8C30F5;
}

.gray-text {
    color: #474A57;
}

.circle {
    width: 212px;
    height: 212px;
    border-radius: 10%;
    background: white;
}

.presi-photo {
    margin-top: 48px;
    margin-left: auto;
    margin-right: 48px;
    margin-bottom: 67px;
}

.other-photo {
    margin-top: 48px;
    margin-left: auto;
    margin-right: 48px;
}

.officer-title {
    margin-top: 12px;

    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;

    /* identical to box height, or 100% */
    letter-spacing: 2px;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;

    /* Brand / Turquoise */
    color: #2EC5CE;
}

.officer-name {
    margin-top: 8px;

    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;

    /* identical to box height, or 135% */
    font-feature-settings: 'liga' off;

    /* Text / Gray 900 */
    color: #18191F;
}

.officer-intro {
    margin-top: 32px;
    margin-bottom: 30px;

    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    font-feature-settings: 'liga' off;

    /* Text / Gray 900 */
    color: #18191F;
}

@media (max-width: 991px) {
    .division-title {
        text-align: center;
    }
    .presi-photo {
        margin-bottom: 0px;
    }
}